.logo {
    @include box(4rem);
    @include bg-img('../img/logo.png');
    margin-right: 1rem;
    display: inline-block;

    @include screen(sm) {
        @include box(3.5rem);
        margin-right: .75rem;
    }

    @include screen(xs) {
        @include box(3rem);
    }

    &-wrap {
        @include flex(row, flex-start, center);
        width: 20rem;

        @include screen(sm) {
            width: 17.5rem;
        }

        @include screen(xs) {
            width: 15rem;
        }
    }
}