.slideshow {
    @include absolute(bottom 0 left 50%);
    transform: translateX(-50%) translateY(17%);
    width: 68%;
    height: 40rem;
    margin: 2rem auto 0 auto;
    background-color: transparent;

    @include screen(lg) {
        width: 75%;
    }

    @include screen(md) {
    }
    
    @include screen(sm) {
        height: 35rem;
    }

    @include portrait(xs) {
        width: 90%;
        height: 26rem;
    }

    &__content {
        @include box(100%);
        overflow: visible;

        & > ul {
            @include box(100%);
            overflow: visible;

            & > li {
                @include box(100%);
            }
        }
    }

    &__btn {
        @include absolute(top 46%);
        @include flex(row, center, center);
        z-index: 5;
    
        & > .circular {    
            font-size: 2.75rem;
            font-weight: 900;
            text-align: center;
            color: $color-white;
            line-height: 2.5rem;

            @include screen(xs) {
                line-height: 2.45rem;
            }
        }

        &--prev {
            left: -8rem;
            
            @include screen(md) {
                left: -6rem;
            }
    
            @include portrait(xs) {
                left: -1.5rem;
            }
        }
    
        &--next {
            right: -8rem;
    
            @include screen(md) {
                right: -6rem;
            }
    
            @include portrait(xs) {
                right: -1.5rem;
            }
        }
    }

}