<footer class="footer hidden" id="footer">
    <div class="bottombar">
        <div class="bottombar__logo">
            <a href="index.html" class="logo-wrap">
                <div class="logo"></div>
                <h1 class="heading-primary">MISOCIAL</h1>
            </a>
        </div>
        
        <div class="bottombar__nav">
            <ul class="bottombar__navlist">
                <li><a href="#">Home</a></li>
                <li><a href="#">Why <span class="uppercase">misocial</span></a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
            <div class="bottombar__btn">
                <button class="btn btn--small btn--primary">Get started</button>
            </div>
        </div>
    </div>
    
    <div class="copyright">
        <div class="copyright__content">
            © 2017 Mass Impressions & Tranmautritam. Make the right impression.
        </div>
        <div class="copyright__nav">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>

<div class="backtotop backtotop--hidden">
    <a href="#header"><i class="fal fa-long-arrow-up"></i></a>
</div>

    <!-- inject:js -->
    <!-- endinject -->

</body>
</html>